<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.fribourgsdp.radio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Radio"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.Radio.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".game.EndGameActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".game.GameActivity"
            android:launchMode= "singleInstance"
            android:exported="false" />
        <activity
            android:name=".deprecated.VoiceOverIPActivity"
            android:exported="false" />
        <activity
            android:name=".data.view.PlaylistsFragmentHolderActivity"
            android:exported="false" />
        <activity
            android:name=".data.view.AddPlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".game.prep.JoinGameActivity"
            android:exported="false" />
        <activity
            android:name=".external.spotify.SpotifyReceiveActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="com.github.fribourgsdp.radio" />
            </intent-filter>
        </activity>
        <activity
            android:name=".external.spotify.ImportSpotifyPlaylistsActivity"
            android:exported="false" />
        <activity
            android:name=".game.prep.LobbyActivity"
            android:exported="false" />
        <activity
            android:name=".data.view.UserProfileActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".deprecated.FireBaseTestActivity"
            android:exported="false" />
        <activity
            android:name=".config.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".game.prep.GameSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".deprecated.GoogleSignInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>

        <!-- Test implementations of activities -->
        <activity
            android:name=".mockimplementations.MockGameSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.WorkingLobbyActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.BuggyLobbyActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.WorkingJoinGameActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.BuggyJoinGameActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.QRCodeJoinGameActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.QRCodeJoinGameActivityJoin"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.QRCodeJoinGameActivityJoinFail"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.MockGameActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.MockUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.MockAddPlaylistActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.GoogleSignInTestMockUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.GoogleUserMockUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.MockSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MockMainActivity"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.MockAddPlaylistActivityNoConnection"
            android:exported="false" />
        <activity
            android:name=".mockimplementations.MockUserProfileActivityOffline"
            android:exported="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>